/* CSS Document */

input {
    background: transparent;
    border: none;
}

nav ul{
	height:300px; 
	width:465px;
	border: 1px solid #000;
	overflow:hidden; 
	overflow-y:scroll;
}

/* unvisited link */
a:link {
    color: blue;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}