body{
	margin: 0;
}

#header{
	margin-top: 5px;
	height: 200px;
}

img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	display: inline-block;
}

h1{
	font-family:Arial, Helvetica, sans-serif; 
	color: #00FFCC;
	text-align: center;
}

div#dateUpdate{
	position: absolute;
	top: 1%;
	right: 1%;
	float: right;
}

